@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

.countainer {
    margin: 3%;
}

.primary {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

.cards {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 99rem;
    perspective-origin: 30% 60%;
}

.transform {
    display: flex;
    /* transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px); */
}

.card {
    background-color: blue;
    color: aliceblue;
    border-radius: 8px;
    padding: 0px 18px;
    width: 244px;
    transition: 0, 5s ease;
    overflow: hidden;
    transform: translate(0);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.card h2 {
    text-transform: capitalize;
    margin: 24px;
}

.card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
}

.card1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 48px;
}

.card1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #dce0e6;
}

.card1::before {
    background: linear-gradient(90deg, #dce0e6 0%, #606d80 100%);
}

.card2 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 33px;
}

.card2:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #606d80;
}

.card2::before {
    background: linear-gradient(90deg, #606d80 0%, #567ebb 100%);
}

.card3 {
    background-size: cover;
}

.card3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #567ebb;
}

.card3::before {
    background: linear-gradient(90deg, #567ebb 0%, #2b4c7e 100%);
}

/* .button {
    background: #6f6cff;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#my-text {
    color: hwb(251 2% 69%);
    font-size: 32px;
    font-weight: bold;
} */