@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

.countainer {
    background-color: #fff;
}

.primary {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

.cards {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    perspective: 99rem;
    perspective-origin: 30% 60%;
}

.transform {
    display: flex;
    /* transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px); */
}

.card {
    background-color: blue;
    color: aliceblue;
    border-radius: 8px;
    padding: 0px 18px;
    width: 366px;
    transition: 0, 5s ease;
    overflow: hidden;
    transform: translate(0);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.card h2 {
    text-transform: capitalize;
    margin: 24px;
}

.card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
}

.card1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 48px;
}

.card1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #dce0e6;
}

.card1::before {
    background: linear-gradient(90deg, #dce0e6 0%, #606d80 100%);
}

.card2 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 33px;
}

.card2:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #606d80;
}

.card2::before {
    background: linear-gradient(90deg, #606d80 0%, #567ebb 100%);
}

.card3 {
    background-size: cover;
}

.card3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #567ebb;
}

.card3::before {
    background: linear-gradient(90deg, #567ebb 0%, #2b4c7e 100%);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 3% 5% 1% 5%;
}

.links a:hover{
    transform: scale(1.25);
}

/* Buttons */

.btn{
    margin: 2%;
    /* margin-bottom: -0rem;
    margin-top: -0rem; */
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.btn-primary{
    background-color: #0d6efd;
    border: 15px solid #0d6efd;
    border-radius: 8%;
    color: #fff;
}

.btn-secundary{
    background-color: #51585e;
    border: 15px solid #51585e;
    border-radius: 8%;
    color: #fff;
}

.btn-success {   
    background-color: #13653f;
    border: 15px solid #13653f;
    border-radius: 8%;
    color: #fff;
}

.btn-warning{
    background-color: #ffc720;
    border: 15px solid #ffc720;
    border-radius: 8%;
    color: #000000;
}

.btn-danger{
    background-color: #b02a37;
    border: 15px solid #b02a37;
    border-radius: 8%;
    color: #fff;
}

.btn-info{
    background-color: #25cff2;
    border: 15px solid #25cff2;
    border-radius: 8%;
    color: #000000;
}

.btn-ligth{
    background-color: #c6c7c8;
    border: 15px solid #c6c7c8;
    border-radius: 8%;
    color: #000000;
}

.btn-dark{
    background-color: #373b3e;
    border: 15px solid #373b3e;
    border-radius: 8%;
    color: #fff;
}

.btn-dark{
    background-color: #373b3e;
    border: 15px solid #373b3e;
    border-radius: 8%;
    color: #fff;
}